<html>
<head>
	<title>Group Chat</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="stylesheet" type="text/css" href="/skeleton.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
    	var socket = io.connect();
        var name = prompt("What is your name?")
        while(name === null){
            name = prompt("Name can not be blank. What is yout name?")
        }
        socket.on('history' , function (data)
          {
            for(var i = 0; i < data.length; i++)
            {
              $( "#box" ).append("<p>" + data[i].name + " : " + data[i].text + "</p>")
              $('#box').animate({scrollTop: $('#box')[0].scrollHeight},1000);
            }
            
          }); 
        socket.emit('name', {name: name});
        socket.on('login', function(data){
            $("#box").append('<p><b>' + data.name + '</b> is now online!</p>');
        })
       
        $('button').click(function(){
            socket.emit('message', {message: $("#chat").val(), name: name});
            $("#chat").val("");
            return false;
        })
        socket.on('broadcast', function(data){
            $("#box").append('<p><b>' + data.name + ':</b> ' + data.message + '</p>')
            $("#box").animate({scrollTop: $("#box")[0].scrollHeight}, 1000);
        })
        socket.on('leave', function(data){
            $("#box").append('<p><b>' + data.user + '</b> has left the chat</p>');
        })
    })
    </script>
</head>
<body>
	<h2>Group Chat</h2>
    <div>    
        <div id="box">
        </div>
    </div>
    <div id="msg">
        <form autocomplete="off">
            <button class="button-primary">Submit</button>
            <input type="text" id="chat" placeholder="Enter your message here" name="message">
            
        </form>
    </div>
</body>
</html>