#box{
	border: 2px solid #000000;
	width: 700px;
	height: 400px;
	overflow: auto;
	margin-bottom:  20px;
	display: inline-block;
	background-color: #FFFFFF;
}
#box p{
	padding: 0px;
	margin: 0px;
	margin-left: 5px;
}
#msg input{
	width: 590px;
	border: 2px solid #000000;
}
body{
	background:url('blue.jpg');
}
h2{
	color: #FFFFFF;
	width: 700px;
	text-align: center;
	border: 2px solid #FFFFFF;
	font-family: "charter";
}